.collapsible {
    background-color: darkslategrey;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    text-align: center;
    outline: none;
    font-size: 15px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.active, .collapsible:hover {
    background-color: darkslategray;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    color: black;
    background-color: darkslategrey;
    width: 75%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1800px, 1800px;
    width: auto;
    height: auto;
    background-color: black;
}

td {
    padding: 18px;
    color: black;
    background-color: darkslategrey;
    width: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.nav {
    padding: 18px;
    color: black;
    background-color: darkslategrey;
    width: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.btn {
    padding: 18px;
    color: white;
    background-color: rgb(90, 90, 90);
}
