{% extends 'base/base.html' %}
{% block title %}
    <title>Transactions</title>
{% endblock title %}
{% block content%}
<div id="layoutAuthentication_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Transactions</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></li>
                <li class="breadcrumb-item active">Transactions - {{ account.account_number }}</li>
            </ol>
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div>
                        <i class="fas fa-table me-1"></i>
                        Transactions - {{ account.account_number }}
                    </div>
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Transaction ID</th>
                                <th>Timestamp</th>
                                <th>Type</th>
                                <th>Notes</th>
                                <th>Amount</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Transaction ID</th>
                                <th>Timestamp</th>
                                <th>Type</th>
                                <th>Notes</th>
                                <th>Amount</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for transaction in transactions %}
                                <tr>
                                    <td>{{ transaction.id }}</td>
                                    <td>{{ transaction.timestamp }}</td>
                                    <td>{{ transaction.type }}</td>
                                    <td>{{ transaction.notes }}</td>
                                    <td>{{ transaction.amount }}</td>
                                    <td><a class="btn btn-secondary" href="{% url 'update-transaction' transaction.pk %}">Update</a></td>
                                    <td><a class="btn btn-danger" href="{% url 'delete-transaction' transaction.pk %}">Delete</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock content %}
