{% extends "templates/Layout.html" %}

{% block title %}Creating An Account{% endblock %}

{% block loginOrLogout %}
<div class="navbar-nav">
    <a id="logoutButton" class="nav-item nav-link" href="{{ url_for('new_logout.logout') }}">Logout</a>
</div>
{% endblock %}

{% block main %}

<div class="container">
    <div class="col">
        <h1>Create A New Account</h1>
        <hr>

        <form method="POST">
            <div class="form-group">
                <label for="starting_balance">Starting Balance For New Account</label>
                <input type="number" step="0.01" class="form-control" name="starting_balance" id="starting_balance"
                       required>
            </div>

            <button type="submit" class="btn btn-primary">Create New Account</button>
        </form>
    </div>
</div>

{% endblock %}