{% extends "templates/Layout.html" %}

{% block title %}Managing Your Accounts{% endblock %}

{% block loginOrLogout %}
<div class="navbar-nav">
    <a id="logoutButton" class="nav-item nav-link" href="{{ url_for('new_logout.logout') }}">Logout</a>
</div>
{% endblock %}

{% block main %}

<div class="row">
  <div class="col-md-4 mb-4">
    <a id="createAccountNavigation" href="{{ url_for('create_new_account.create_account') }}" class="btn btn-primary btn-block">Create An Account</a>
  </div>
  <div class="col-md-4 mb-4">
    <a id="viewAccountsNavigation" href="{{ url_for('get_relevant_accounts.get_all_accounts') }}" class="btn btn-primary btn-block">View Current Accounts</a>
  </div>
  <div class="col-md-4 mb-4">
    <a id="depositNavigation" href="{{ url_for('do_deposit.deposit') }}" class="btn btn-primary btn-block">Make A Deposit</a>
  </div>
  <div class="col-md-4 mb-4">
    <a id="withdrawNavigation" href="{{ url_for('do_withdraw.withdraw') }}" class="btn btn-primary btn-block">Make A Withdraw</a>
  </div>
  <div class="col-md-4 mb-4">
    <a id="transferNavigation" href="{{ url_for('do_transfer.transfer') }}" class="btn btn-primary btn-block">Make A Transfer</a>
  </div>
  <div class="col-md-4 mb-4">
    <a id="deleteAccountNavigation" href="{{ url_for('delete_this_account.delete_account') }}" class="btn btn-primary btn-block">Delete An Account</a>
  </div>
</div>

{% endblock %}