{% extends "templates/Layout.html" %}

{% block title %}Viewing Your Accounts{% endblock %}

{% block loginOrLogout %}
<div id="navLoginRegisterLogout" class="navbar-nav">
    <a class="nav-item nav-link" href="{{ url_for('new_logout.logout') }}">Logout</a>
</div>
{% endblock %}

{% block main %}

<div class="container">
    <h1>Viewing Your Accounts</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Account Number</th>
                <th>Balance</th>
                <th>View Transactions</th>
            </tr>
        </thead>
        <tbody>
            {% for account in account_list %}
            <tr>
                <td>{{ account.account_id }}</td>
                <td>{{ account.balance| floatformat(2) }}</td>
                <td><a href="{{ url_for('get_relevant_transactions.view_transactions',
                account_id=account.account_id) }}" class="btn btn-primary">View Transactions</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}