{% extends "templates/Layout.html" %}

{% block title %}Deleting Your Information{% endblock %}

{% block loginOrLogout %}
<div id="navLoginRegisterLogout" class="navbar-nav">
    <a class="nav-item nav-link" href="{{ url_for('new_logout.logout') }}">Logout</a>
</div>
{% endblock %}

{% block main %}

<div class="container">
    <div class="col">
        <h1>Delete Your Information</h1>
        <hr>

        <form method="post">
            <div class="form-group">
                <label>Are you sure?</label>
            </div>

            <button type="submit" class="btn btn-primary">Delete Your Information</button>
        </form>
    </div>
</div>

{% endblock %}