{% extends "templates/Layout.html" %}

{% block title %}Managing Your Current Information{% endblock %}

{% block loginOrLogout %}
<div class="navbar-nav">
    <a id="navLogoutButton" class="nav-item nav-link" href="{{ url_for('new_logout.logout') }}">Logout</a>
</div>
{% endblock %}

{% block main %}

<div class="row">
  <div class="col-md-4 mb-4">
    <a href="{{ url_for('update_customer_blueprint.update_customer') }}" class="btn btn-primary btn-block">Update Your Information</a>
  </div>
  <div class="col-md-4 mb-4">
    <a href="{{ url_for('delete_this_customer.delete_customer') }}" class="btn btn-primary btn-block">Delete Your Information</a>
  </div>
  <div class="col-md-4 mb-4">
    <a href="{{ url_for('change_password_blueprint.change_password') }}" class="btn btn-primary btn-block">Change Password</a>
  </div>
</div>

{% endblock %}