{% extends "templates/Layout.html" %}

{% block title %}Register{% endblock %}

{% block loginOrLogout %}
<div class="navbar-nav">
    <a id="login" class="nav-item nav-link" href="{{ url_for('login_route.login') }}">Login</a>
</div>
{% endblock %}

{% block main %}
<div class="container">
    <div class="col">
        <h1>Register</h1>
        <hr>

        <form method="POST">
            <div class="form-group">
                <label for="registerFirstName">First Name: </label>
                <input type="text" class="form-control" name="registerFirstName" id="registerFirstName" required>
            </div>

            <div class="form-group">
                <label for="registerLastName">Last Name: </label>
                <input type="text" class="form-control" name="registerLastName" id="registerLastName" required>
            </div>

            <div class="form-group">
                <label for="registerEmail">Email: </label>
                <input type="email" class="form-control" name="registerEmail" id="registerEmail" required>
            </div>

            <div class="form-group">
                <label for="registerPassword">Password: </label>
                <input type="password" class="form-control" name="registerPassword" id="registerPassword" required>
            </div>

            <div class="form-group">
                <label for="registerPasswordConfirmation">Confirm Password: </label>
                <input type="password" class="form-control" name="registerPasswordConfirmation" id="registerPasswordConfirmation" required>
            </div>

            <div class="form-group">
                <label for="registerPhoneNumber">Phone Number: </label>
                <input type="text" class="form-control" name="registerPhoneNumber" id="registerPhoneNumber" oninput="formatPhoneNumber(this)" required>
            </div>

            <div class="form-group">
                <label for="registerStreetAddress">Street Address: </label>
                <input type="text" class="form-control" name="registerStreetAddress" id="registerStreetAddress" required>
            </div>

            <div class="form-group">
                <label for="registerCity">City: </label>
                <input type="text" class="form-control" name="registerCity" id="registerCity" required>
            </div>

            <div class="form-group">
                <label for="registerState">State: </label>
                <select name="registerState" id="registerState" class="form-control" required>
                    <option value="">Select a State</option>
                    {% for state in states %}
                        <option value="{{ state.code }}">{{ state.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="registerZipCode">Zip Code: </label>
                <select name="registerZipCode" id="registerZipCode" class="form-control" required>
                    <option value="">Select a State First</option>
                </select>
            </div>

            <button id="registerButton" type="submit" class="btn btn-primary">Register</button>
        </form>
        <script>
            function formatPhoneNumber(input) {
                var phoneNumber = input.value.replace(/\D/g, '');

                if (phoneNumber.length >= 7) {
                    phoneNumber = phoneNumber.replace(/^(\d{3})(\d{3})(\d{0,4}).*/, '$1-$2-$3');
                } else if (phoneNumber.length >= 4) {
                    phoneNumber = phoneNumber.replace(/^(\d{3})(\d{1,3}).*/, '$1-$2')
                } else if (phoneNumber.length >= 1) {
                    phoneNumber = phoneNumber.replace(/^(\d{1,3})/, '$1')
                }

                input.value = phoneNumber;
                return input;
            }

            function updateZipCodes() {
                var stateDropdown = document.getElementById("registerState");
                var zipCodeDropdown = document.getElementById("registerZipCode");
                var selectedState = stateDropdown.value;
                var zipCodes = {{ zip_codes|tojson }};

                if (selectedState && zipCodes.hasOwnProperty(selectedState)) {
                    zipCodeDropdown.innerHTML = "";
                    var selectedStateZipCodes = zipCodes[selectedState];
                    for (var i = 0; i < selectedStateZipCodes.length; i++) {
                        var zipCode = selectedStateZipCodes[i];
                        var option = document.createElement("option");
                        option.value = zipCode;
                        option.text = zipCode;
                        zipCodeDropdown.appendChild(option);
                    }
                }
            }

            var stateDropdown = document.getElementById("registerState");
            stateDropdown.addEventListener("change", updateZipCodes);

            updateZipCodes();
        </script>

    </div>
</div>

{% endblock %}