{% extends "templates/Layout.html" %}

{% block title %}Resetting Your Password{% endblock %}

{% block loginOrLogout %}
<div class="navbar-nav">
    <a id="login" class="nav-item nav-link" href="{{ url_for('login_route.login') }}">Login</a>
    <a id="register" class="nav-item nav-link" href="{{ url_for('create_new_customer.register') }}">Register</a>
</div>
{% endblock %}

{% block main %}

<div class="container">
    <div class="col">
        <h1>Reset Password</h1>
        <hr>

        <form method="POST">
            <div class="form-group">
                <label for="resetPassword">New Password</label>
                <input type="text" class="form-control" name="email" id="resetPassword">
            </div>

            <div class="form-group">
                <label for="resetPasswordConfirmation">New Password Confirmation</label>
                <input type="resetPasswordConfirmation" class="form-control" name="password" id="resetPasswordConfirmation">
            </div>

            <button id="passwordResetButton" type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div>
</div>

{% endblock %}